@import "~style";

.@{prefix}-quick-edit {
  max-height: 70vh;
  overflow: auto;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
  th {
    & > span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  &-sort {
    margin-left: 5px;
    position: relative;
    &-picker {
      opacity: 1 !important;
    }
    & > span {
      cursor: pointer;
      display: inline-block;
      width: 10px;
      height: 10px;
      position: absolute;
      opacity: 0.5;
    }
    & > span:first-child {
      background-image: url("./img.png");
      background-position: -3px -2px;
      bottom: 0;
      left: 0;
    }
    & > span:last-child {
      background-image: url("./img.png");
      background-position: -10.5px 9px;
      left: 0;
      top: 0;
    }
  }
  & > table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    th {
      background: @background-color;
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }
  .@{prefix}-multiple-select {
    height: 25px;
  }
  .@{prefix}-form-item {
    padding: 0;
  }
  td {
    padding: 2px;
  }
  &-item {
    &:hover {
      td {
        background: @fourth-primary-color;
        input, select {
          background: transparent;
        }
      }
    }
    & + & {
      border-top: 1px solid @primary-border-color;
    }
    input {
      width: 100%;
    }
    & > td:first-child {
      cursor: pointer;
      padding: 2px;
      text-align: center;
      user-select: none;
    }
    & > td:last-child {
      .@{prefix}-form-item-component {
        width: 100%;
      }
      min-width: 300px;
    }
  }
}
